{% extends 'base.html'  %}
{%  block content %}
<!--Edit Page-->
<section class="editPage">
    <form method="POST" action="{% url 'album delete' pk=1%}">
        <fieldset>
            <legend>Delete Album</legend>
            <div class="container">
                {% csrf_token %}
                {{ form.as_p }}

                <!-- Button for Deleting an Album -->
                <button class="delete-album" type="submit">Delete Album</button>
            </div>
        </fieldset>
    </form>
</section>
{% endblock %}