{% extends 'base.html'  %}
{%  block content %}
<section class="createPage">

    <form>
        <fieldset>
            <legend>Add Album</legend>
            <div class="container">
                <form method="post" action="{% url 'add album' %}">
                {% csrf_token %}
                {{ form.as_p }}
                 <!-- Button for Adding Album -->
                <button class="add-album" type="submit">Add New Album</button>
                </form>



            </div>
        </fieldset>
    </form>
</section>

{% endblock %}
